/* --------------------------- Carousel --------------------------- */

/* --------------------------- Carousel --------------------------- */



/* --------------------------- Cards --------------------------- */
* {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

/* Float four columns side by side */
.column_ {
  float: left;
  width: 50%;
  padding: 0 5px;
  position: relative;
}

/* Remove extra left and right margins, due to padding in columns */
.row_ {margin: 20px -5px;}

/* Clear floats after the columns */
.row_:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card_{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #18727B;
  height: 380px;
  transition: 0.7s;
}

/* card hover effect */
.card_:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0);
  border-radius: 25px;
}

.card_ h1{
  color: white;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column_ {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card_ img{
  width: 50%;
}
/* --------------------------- Cards --------------------------- */



/* --------------------------- Footer --------------------------- */
.icon {
  width: 60px;
}

.col-6 p{
  font-size: 20px;
}

.icon {
  margin: 0 20px;
}

.col2 {
  margin-top: 10px;
}

.footer{
  background-color: #959595;
  color: white;
  padding-top: 20px;
}

.footer .row {
  text-align: center;
}
/* --------------------------- Footer --------------------------- */