/* --------------------------- Navbar --------------------------- */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #18727B;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /*float: left;      tirar*/ 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Right-aligned links */
  .topnav-right {
    float: right;
    font-size: 25px;
    height: 50px;
  }

  /*hambuguer*/
  .topnav-right i{
    font-size: 40px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Hamburguer NavBar */
  .hamburguer_icon {
    color: #f2f2f2;
    
  }
/* --------------------------- Navbar --------------------------- */


/* --------------------------- Perfil --------------------------- */
.informations{
    margin-top: 40px;
}

/*Imgem de perfil*/
.col-4{
    background-color: #cccccc;
    text-align: center;
    padding-top: 40px;
}

/*Informações*/
.col-8{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.userImg{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#country{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.InfoTopic{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactos{
    margin-top: 20px;
}
/* --------------------------- Perfil --------------------------- */


/* --------------------------- PRIMIUM --------------------------- */
.PremiumInformations {
    margin-top: 40px;
    background-color: #f2f2f2;
}

.premiumImg {
    width: 6%;
}

.div_premiumImg {
    width: 100%;
    margin-bottom: 5px;
}
/* --------------------------- PRIMIUM --------------------------- */


/* --------------------------- Footer --------------------------- */

/* --------------------------- Footer --------------------------- */